/* :root {
    --primary-color: #260D0D;
    --font-family-title: 'Poor Story';
    --font-family-principal: 'Poppins';
  }

.search__animal-container {
    margin: 3.125em auto;
    width: 60%;
    padding: 40px;
    border-radius: 10px;
  }
  
  .search__animal-title {
    text-align: center;
    font-size: 1.7rem;
    color: var(--primary-color);
    margin-bottom: 1em;
  }
  
  .search__btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 30%;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .search__btn:hover {
    background-color: #502020;
    border-color: #502020;
  }
  
  .form-control {
    border: 2px solid #260d0d;
    border-radius: 10px;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: #260d0d;
  }
  
  label {
    color: #260d0d;
    font-weight: bold;
  }
  
  @media (min-width: 900px) and (max-width: 1200px){
    .search__animal-container {
      width: 70%;
      max-width: 100%;
    }
  }

  @media (min-width: 600px) and (max-width: 900px){
    .search__animal-container {
        width: 80%;
        max-width: 100%;
    }
    .search__btn{
      width: 50%;
    }
  }

  @media (max-width: 600px) {
    .search__animal-container {
        width: 85%;
        max-width: 100%;
    }
    .search__btn{
        width: 75%;
      }

  } */

  :root {
    --primary-color: #260D0D;
    --font-family-title: 'Poor Story';
    --font-family-principal: 'Poppins';
}

/* Container da Busca */
.search__animal-container {
    margin: 3.125em auto;
    width: 60%;
    padding: 40px;
    border-radius: 10px;
  }
  
  .search__animal-title {
    text-align: center;
    font-size: 1.7rem;
    color: var(--primary-color);
    margin-bottom: 1em;
  }

/* Botão */
.search__btn {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 30%;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .search__btn:hover {
    background-color: #502020;
    border-color: #502020;
  }

/* Inputs */
.form-control {
    border: 2px solid var(--primary-color);
    border-radius: 10px;
  }
  
  .form-control:focus {
    box-shadow: none;
    border-color: var(--primary-color);
  }

/* Customização da setinha para baixo no dropdown */
.custom-select {
    appearance: none;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 10 6'%3E%3Cpath fill='%23333' d='M0 0l5 5 5-5H0z'/%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: right 10px center;
    background-size: 12px 12px;
}

label {
    color: var(--primary-color);
    font-weight: bold;
}

.animal-card-container {
    margin-top: 2rem;
    display: flex;
    justify-content: center;
  }
  
  .animal-card {
    width: 100%;
    max-width: 60%;
    border-radius: 10px;
    background-color: #f7f7f7;
  }
  
  .animal-card img {
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    object-fit: cover;
    height: 100%;
  }
  
  .animal-card .card-body {
    padding: 20px;
  }
  
  .animal-card button {
    background-color: var(--primary-color);
    color: #fff;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .animal-card button:hover {
    background-color: #502020;
  }

  select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-repeat: no-repeat;
    background-position: right;
    padding-right: 30px; 
  }
  

@media (min-width: 900px) and (max-width: 1200px) {
    .search__animal-container {
        width: 70%;
        max-width: 100%;
    }
    .animal-card {
        flex-direction: column;
      }
}

@media (min-width: 600px) and (max-width: 900px) {
    .search__animal-container {
        width: 80%;
        max-width: 100%;
    }

    .search__btn {
        width: 50%;
    }

    .animal-card {
        flex-direction: column;
      }
}

@media (max-width: 600px) {
    .search__animal-container {
        width: 85%;
        max-width: 100%;
    }

    .search__btn {
        width: 75%;
    }

    .mb-3 > .col {
        margin-bottom: 1rem;
    }

    .animal-card {
        flex-direction: column;
      }
}
