  :root {
    --primary-color: #260D0D;
    --font-family-title: 'Poor Story';
    --font-family-principal: 'Poppins';
  }
  
  .form__register-animal-container {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
  }
  
  .form__register-animal {
    padding: 40px;
    width: 70%;
    max-width: 100%;
  }
  
  .form__register-animal-title {
    text-align: center;
    font-size: 1.7rem;
    color: var(--primary-color);
    margin-bottom: 1em;
  }
  
  .form__register-animal-group {
    margin-bottom: 1em;
  }
  
  .form__register-animal-group-label {
    font-size: 1.1rem;
    color: var(--primary-color);
    display: block;
    margin-bottom: 0.5em;
  }
  
  .form__register-animal-control {
    width: 100%;
    padding: 10px;
    border: 2px solid var(--primary-color);
    border-radius: 5px;
    margin-bottom: 0.8em;
  }
  
  .form-control::placeholder {
    color: #c3b1b1;
  }
  
  .form-check {
    display: flex;
    align-items: center;
  }
  
  .form-check input[type="checkbox"] {
    width: 20px;
    height: 20px;
    accent-color: var(--primary-color);
    margin-right: 10px;
  }
  
  .btn-submit {
    background-color: var(--primary-color);
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    width: 30%;
    cursor: pointer;
    font-size: 16px;
    margin-top: 20px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .btn-submit:hover {
    background-color: #3b2222;
  }
  
  .row .form-group {
    padding-right: 10px;
  }
  
  @media (max-width: 768px) {
    .row .form-group {
      padding-right: 0;
      margin-bottom: 15px;
    }
  }