.header__custom-navbar {
  background: linear-gradient(to right, #76B2A4, #A3D7D5);
  padding: 10px 20px;
}

.header__navbar-brand {
  font-family: 'Courier New', Courier, monospace;
  font-size: 1.5rem;
  font-weight: bold;
  color: black;
}

.header__subtext {
  font-size: 0.8rem;
  font-weight: normal;
  color: black;
  margin-top: -8px;
}

.navbar-nav {
  display: flex;
  align-items: center;
}

.nav-link, .dropdown-toggle {
  color: black !important;
  font-weight: bold;
  margin-right: 15px;
}

.nav-link:hover, .dropdown-item:hover {
  color: #0c0c0c !important;
}

.container-fluid {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.custom-dropdown .dropdown-toggle::after {
  display: inline-block;
  margin-left: 0.5rem;
  vertical-align: middle;
  content: "";
  border-top: 0.4em solid;
  border-right: 0.4em solid transparent;
  border-left: 0.4em solid transparent;
}
.custom-dropdown .dropdown-menu {
  display: none;
}

.custom-dropdown.show .dropdown-menu {
  display: block;
}


@media (max-width: 900px) {
  .navbar-collapse {
    justify-content: flex-start;
    flex-direction: column;
    align-items: flex-start;
  }

  .navbar-brand, .subtext {
    text-align: left;
    width: 100%;
  }

  .custom-dropdown .dropdown-toggle::after {
    border-top: 0.4em solid;
  }
}

@media (max-width: 576px) {
  .navbar-brand {
    font-size: 1.2rem;
  }

  .subtext {
    font-size: 0.7rem;
  }
}
